click
colorama
contourpy
cssbeautifier
cycler
datetime
djlint
EditorConfig
fonttools
html-tag-names
html-void-elements
jsbeautifier
json5
kiwisolver
matplotlib
numpy
packaging
pandas
pathspec
pillow
pygame
PyOpenGL
pyparsing
python-dateutil
pytz
PyYAML
regex
six
tqdm
tzdata
wheel
astroid
autopep8
cycler
isort
kiwisolver
lazy-object-proxy
matplotlib
mccabe
numpy
Pillow
pycodestyle
pygame
pylint
PyOpenGL
PyOpenGL-accelerate
pyparsing
python-dateutil
six
toml
glfw
